@font-face {    
    font-family: 'Great Vibes';
    src: url("./polices/GreatVibes-Regular.ttf");
}
@font-face {    
    font-family: 'BooksScript';
    src: url("./polices/BooksScript.otf");
}

body {
    background-color: #fefff3;
    font-family: 'BooksScript';
    font-size: 35px;
    height: 100%;
  }
  
header {
    background-color: #0a4b39;
    height: 100px;
    display: block;
}

main{
  position: relative;
  min-height: 75%;
}

footer{
  background-color: none;
  bottom:0;
  width:99%;
  position: relative;
  height:120px;
  font-size: 25px;
  border-top: solid 1px #0a4b39;
 }

header h1{
    color: white;
    margin-top: 0px;
    display: inline-block;
    padding-left: 10px;
    font-family: 'Great Vibes';
    font-size: 50px;
}

.title_logo{
    margin-top: 3px;
    max-width: 94px;
    height:auto;
    float: left;
}

.title_header{
    float: right;
    padding-left: 10px;
    padding-top: 25px;
    cursor: pointer;
}

.menu{
    background-color: #4e7a51;
    font-family: 'Great Vibes';
    padding-top: 0%;
    margin-top: 0%;
    height: 40px;
}


.a-tab{
    padding-left: 50px;
}

/* Style the tab */
.tab {
    background-color: #4e7a51;
    font-family: 'Great Vibes';
    padding-top: 0%;
    margin-top: 0%;
    height: 40px;
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    font-family: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
    padding-top: 5px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #3c5e3f;

  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #71af75;
  }
  
  .tab button #a_tablinks, #a_title_header{
    color: inherit;
    text-decoration: none;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }


  #base_content{
    padding-top:4%;
  }


  /* INFORMATION PAGE */
  body .collapsible {
    background-color: #fefff3;
    color: #0a4b39;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 35px;
    font-family: inherit;
  }
  
  .active, .collapsible:hover {
    background-color: #71af75;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  /* CONFIRMATION PAGE */
  .confirmation_button{
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 180px;
    width: 200px;
    cursor: pointer;
  }


  .img_envoyer_confirmation {
    position: relative;
    text-align: center;
    color: #0a4b39;
    width: 100%;
    height: 100%;
  }
  
  .txt_envoyer_confirmation {
    position: absolute;
    font-size: 32px;
    width: 220px;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  #participants{
    display: none;
  }

  #checkbox_ceremonie, #checkbox_vindhonneur, #checkbox_soiree, #checkbox_brunch{
    accent-color: #0a4b39;
  }


  /* ACCESS PAGE */
  #checkbox_transport{
    accent-color: #0a4b39;
  }

  .transport_button{
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
  }
  

  .txt_envoyer_transport{
    border: 1px outset #0a4b39;
    border-radius: 10px 0px 10px 0px;
    color:#0a4b39;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* TEAM PAGE */
  #div_team{
    display: inline-block;
    padding-left: 10%;
  }

  #img_team{
    clip-path:ellipse(50% 50%);
    height: 200px;
  }

  #img_team2{
    clip-path:ellipse(50% 50%);
    height: 150px;
  }

  #img_temoins{
    display: inline-block;
    padding-left: 25px;
    text-align: center;
    vertical-align: middle;
  }

  #img_temoins{
    display: inline-block;
    padding-top: 50px;
    padding-left: 25px;
    text-align: center;
    vertical-align: middle;
  }

  #img_garconsHonneur1{
    display: inline-block;
    padding-left: 25px;
    text-align: center;
    vertical-align: middle;
  }

  #img_garconsHonneur2{
    display: inline-block;
    padding-top: 50px;
    padding-left: 25px;
    text-align: center;
    vertical-align: middle;
  }
  